---
import Link from "@components/Link.astro";
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
  href?: string;
}
const { icon, href } = Astro.props;
---

<Link {href}>
  <div class="flex gap-2 items-center color-black">
    {
      icon &&
        (icon.startsWith("url:") ? (
          <img class="block h-4 w-auto" src={icon.slice(4)} alt="icon" />
        ) : (
          <Icon class="block h-4 w-auto" name={icon} />
        ))
    }
    <p class="text-base"><slot /></p>
  </div>
</Link>
