{
    "printWidth": 120,
    "bracketSameLine": true,
    "options.editorconfig": true,
    "astroSkipFrontmatter": true,
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-svelte",
        "prettier-plugin-stylus"
    ],
    "overrides": [
        {
            "files": ["*.ts", "*.js", "*.mjs", "*.mts"],
            "options": {
                "singleQuote": true
            }
        }
    ]
}
