.stack-card
  svg, img
    display block

  box-shadow 0 0 8px rgba(0, 0, 0, 0.25)
  grid-template-columns auto 1fr

  grid-template-areas \
    "icon name" \
    "description description"

  @media screen and (min-width 400px)
    grid-template-areas \
      "icon name" \
      "icon description"

  .stack-card-icon
    grid-area icon

  .stack-card-name
    grid-area name

  .stack-card-description
    grid-area description

.menu-icons
  svg
    display block
    color rgb(255, 255, 255)
