---
import Base from "@layouts/Base.astro";
import SearchBar from "@components/search/SearchBar.svelte";
import { getCollection } from "astro:content";

const stacks = await getCollection("stack");
---

<Base title="Main Page | Anysome" className="bg-slate-200 | sm:px-12 sm:py-12 px-3 py-6">
  <section>
    <SearchBar
      isDev={import.meta.env.DEV}
      baseUrl="/anysome"
      client:only="svelte"
      stackList={stacks.map((stack) => [`/anysome/${stack.slug}`, stack.data])}
    />
  </section>
</Base>
