---
import Landing from "../layouts/Landing.astro";
import Heading from "../components/Heading.astro";
import Navigation from "@components/Navigation.astro";

const lists = await Astro.glob("./list/*.md");
---

<Landing title="test">
  <Heading title="Anysome"> Awesome list that included any categories. </Heading>
  <div data-navigation-list>
    <Navigation href="https://github.com/7rs/anysome">Source Code</Navigation>
  </div>

  <div>
    {lists.map((page) => <a href={page.url}>{page.url}</a>)}
  </div>
</Landing>

<style lang="sass">
  @use "../styles/api.sass" as api

  [data-navigation-list]
    display: flex
    justify-content: center
    column-gap: 1rem
</style>
