---
// const stacks = await getCollection("stack");
// const tags = [...new Set([...stacks.map(stack => stack.data.tags)].flat())]

import Base from "@layouts/Base.astro";
import SearchBar from "@components/SearchBar.svelte";
---

<Base title="Main Page | Anysome" className="bg-slate-200 px-12">
  <section>
    <SearchBar isDev={import.meta.env.DEV} baseUrl="/anysome" client:only="svelte" />
  </section>
</Base>
