---
export interface Props {
  requireNav?: boolean;
}

const { requireNav = false } = Astro.props;

const className = "flex gap-6 items-center";
---

{
  requireNav ? (
    <nav class={className}>
      <slot />
    </nav>
  ) : (
    <div class={className}>
      <slot />
    </div>
  )
}
