---
export interface Props {
  href?: string;
  title?: string;
}

const { href, title, ...props } = Astro.props;
---

{
  href ? (
    <a class="block text-inherit" href={href} title={title} {...props}>
      <slot />
    </a>
  ) : (
    <slot />
  )
}
