---
export interface Props {
  href: string;
  title?: string;
}

const { href, title } = Astro.props;
---

<a data-navigation href={href} title={title}><slot /></a>

<style lang="sass">
  @use "../styles/api.sass" as api

  [data-navigation]
    padding: 0.5rem
    border: solid 1px black
    text-decoration: none
    color: black
    &:hover
      background-color: gray
</style>
