---
import type { Stack } from "@scripts/stack-meta";
import { Icon } from "astro-icon/components";

export interface Props {
  href: string;
  meta: Stack;
}

const { href, meta } = Astro.props;
---

<a href={href}>
  <article class="stack-card">
    {meta.icon && <Icon class="stack-card-icon" name={meta.icon} />}
    <p class="stack-card-name">{meta.name}</p>
    <p class="stack-card-description">{meta.description}</p>
  </article>
</a>
