---
import { ViewTransitions } from 'astro:transitions';

import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

import "@styles/fonts.styl";
import "@styles/reset.styl";
import "@styles/default.styl";
import "@styles/classes.styl";
import "@styles/variables.styl";

export interface Props {
  title: string;
  lang?: string;
  className?: string;
  hideHeader?: boolean;
  hideFooter?: boolean;
}

const { title, lang = "ja", className = "", hideHeader = false, hideFooter = false, ...props } = Astro.props;
---

<html lang={lang}>
  <head>
    <ViewTransitions />
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
  </head>
  <body class="min-h-dvh flex flex-col overflow-x-clip">
    {
      !hideHeader && (
        <slot name="header">
          <Header transition:persist />
        </slot>
      )
    }
    <main class:list={["grow", className]} transition:animate="slide" {...props}>
      <slot />
    </main>
    {
      !hideFooter && (
        <slot name="footer">
          <Footer transition:persist />
        </slot>
      )
    }
  </body>
</html>
