---
import { Icon } from "astro-icon/components";
import Link from "@components/Link.astro";
import IconFlex from "@components/IconFlex.astro";

const {...props} = Astro.props;
---

<header class="static-bar" {...props}>
  <p>ANYSOME</p>
  <IconFlex requireNav>
    <Link href="/"><Icon name="line-md:search" /></Link>
    <Link href="/about"><Icon name="line-md:question-circle" /></Link>
    <Icon name="line-md:sunny-filled-loop" />
  </IconFlex>
</header>
