---
import { Icon } from "astro-icon/components";
import IconFlex from "@components/IconFlex.astro";
import Menu from "@components/menu/Menu.svelte";

const {...props} = Astro.props;
---

<header class="static-bar" {...props}>
  <p>ANYSOME</p>
  <IconFlex>
    <Icon name="line-md:sunny-filled-loop" />
    <Menu client:idle />
  </IconFlex>
</header>
