---
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

import "@styles/fonts.sass";
import "@styles/reset.sass";
import "@styles/default.sass";

export interface Props {
  title: string;
  lang?: string;
}

const { title, lang = "ja" } = Astro.props;
---

<html lang={lang}>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
  </head>
  <body class="flex flex-col min-h-dvh bg-slate-50">
    <Header />
    <main class="grow flex flex-col gap-4"><slot /></main>
    <Footer />
  </body>
</html>
